/*
COLORS
Primary: #6E00EE;
Primary Variant: #3700B3;
Medium Epmhasis: #DBB2FF;
Secondary: #03DAC5;
Secondary dark: #018786;
purple900: #23036A;


grey 1: #333333;
grey 2: #4F4F4F;
grey 3: #828282;
grey 4: #BDBDBD;
grey 5: #E0E0E0;
grey 6: #F2F2F2;

Disabled: #985EFF;
error: #B00020;

*/

:root {
  --color-primary: #6e00ee;
  --color-primary-light-1: #985eff;
  --color-primary-light-2: #dbb2ff;
  --color-primary-dark-1: #3700b3;
  --color-primary-dark-2: #23036a;

  --color-secondary: #005457;
  --color-secondary-1: #018786;
  --color-secondary-2: #03dac5;
  --color-grey-light-1: #f2f2f2;
  --color-grey-light-2: #e0e0e0;
  --color-grey-light-3: #bdbdbd;
  --color-grey-dark-1: #333333;
  --color-grey-dark-2: #4f4f4f;
  --color-grey-dark-3: #828282;
  --color-error-red: #b00020;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  /* padding: 15rem; */
  line-height: 1.6;
  /* width: 100%; */
  /* width: 1400px; */
  min-height: 100vh;
  color: var(--color-grey-dark-2);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
    url('./img/mlh-bg.jpg') top / cover no-repeat;
}

html {
  font-size: 62.5%;
  /* height: 100%; */
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  min-height: 90vh;
  margin: 10rem auto;
  box-sizing: var(--shadow-dark);
  border-radius: 20px;
  border: 1px solid var(--color-primary-light-2);
  overflow: hidden;
  background: var(--color-grey-light-1);
  position: relative;
}

.header {
  color: var(--color-grey-light-2);
  text-align: center;
  border-bottom: #fb5c05;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-primary {
  padding-bottom: 3rem;
  font-size: 3rem;
  color: var(--color-grey-dark-1);
}

.secondary-heading {
  flex-basis: 100%;
}

.logo {
  height: 5rem;
  padding: 2rem 0;
}

.main {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.content {
  /* border: 1px solid orangered; */
  position: relative;
  height: 13.7rem;
}

p {
  font-size: 1.4rem;
  padding: 0 3rem;
  padding-bottom: 3rem;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  margin-right: 1rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  color: var(--color-primary);
  align-self: flex-end;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* display: none; */
  position: absolute;
  top: 28%;
  left: 0;
  height: 100%;
}

.visible {
  opacity: 1 !important;
  z-index: 10;
}

.invisible {
  opacity: 0 !important;
  z-index: -1;
}

/* .secondary-heading {
  font-size: ;
} */

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-form {
  opacity: 0;
  z-index: 1;
  transition: all 0.5s;
}

.form__box {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  display: flex;
  /* flex-direction: column; */
  /* align-items: stretch; */
  text-align: left;
  align-items: center;
  /* justify-content: space-evenly; */
  /* flex-basis: 30%; */
}

.form__box .input {
  font-family: inherit;
  color: inherit;
  border-color: transparent;
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  height: 2.5rem;
  width: 20rem;
}

.form__box label {
  width: 10rem;
}

.input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--color-primary-light-2);
}

.long {
  flex-basis: 100%;
  /* justify-self: flex-start; */
}

.long .input {
  width: 100%;
  height: 10rem;
  margin-left: 1.5rem;
}

.btn-box {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

.stop-container {
  transform: translateY(20%);
  transition: all 1s;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.slide-up {
  transform: translateY(-80%);
  z-index: 20;
  opacity: 1;
}

.stops {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3rem;
}

.stop {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
}
